{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.learn-more-button {
    display: inline-block;
    color: white;
    background-color: #5C7EB0;
    border-radius: 15px;
    padding: 5px 50px;
    margin: 5px;
    text-align: center;
}

.logo-link {
    width: 20%;
}

.main-header-logo{
    width: 100%;
    display: block;
}

.main-nav {
    display: block;
    width: 75%;
    flex-grow: 4;
}

.main-nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.contact-us {
    padding: 10px 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.second-header {
    background-image: url('../img/mezzanotte-bcg.png');
    height: 950px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.second-header > article {
    margin-top: 30px;
}

.second-header > article > .learn-more-button {
    margin: 50px 0 0 105px;
}

.second-header > article > h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.header-logo {
    width: 400px;
}

.why-mezzanote {
    margin-top: -300px;
    position: relative;
}

.why-mezzanote .learn-more-button{
    margin: 10px 0 0 43.5%;
}

.title {
    text-align: center;
}

.title h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.title p {
    font-size: 20px;
    font-weight: 600;
}

.reasons {
    width: 80%;
    margin: 80px auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.reasons article div {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: auto;
    border-radius: 50%;
}

.reasons article div p {
    padding-top: 40px;
}

.our-solutions {
    margin-top: 100px;
}

.our-solutions > .learn-more-button {
    margin: 10px 0 0 43.5%;
}

.solutions {
    width: 80%;
    margin: 80px auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.solutions h3 {
    margin: 15px 0;
}

.solutions p {
    width: 600px;
}

.solutions article {
    margin: 15px;
}

.solutions article div{
    width: 400px;
    height: 250px;
    margin: 20px auto;
    background-color: grey;
}


.who-we-support {
    display: flex;
    justify-content: space-around;
    margin: 70px;
    border-bottom: 2px solid #5C7EB0;
    padding-bottom: 80px;
}

.who-we-support article {
    width: 400px;
}
.who-we-support .text h2 {
    padding: 5px 0;
}
.who-we-support .text p {
    padding: 5px 0;
}
.who-we-support .text ul{
    padding: 10px 20px;
}
.who-we-support .text ul > li{
    padding: 3px;
}

.who-we-support .image {
    width: 600px;
    height: 300px;
    background-color: grey;
}

.who-we-suport .text .learn-more-button {
    margin: 20px -200px;
}

.swiper {
    width: 60%;
    height: 500px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: white;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide h1 {
    margin-top: 50px;
    font-size: 40px;
}

.swiper-slide p {
    letter-spacing: 3px;
    line-height: 1.6;
    width: 80%;
    margin: auto;
    font-size: 25px;
}

.contact-us-section {
    width: 100%;
    height: 220px;
    background-color: #373737;
    text-align: center;
    padding: 60px 0;
}

.contact-us-section h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

footer {
    padding: 40px;
}

.footer-logo {
    display: inline-block;
}

.footer-logo img {
    width: 20%;
}

input[type=text] {
    background-color: #5C7EB0;
    padding: 10px 15px;
    border-radius: 15px;
    border: 0px solid black;
    color: white;
    font-weight: 500;
    filter:brightness(1.2);
    -webkit-filter:brightness(1.2);
}

input[type=text]::placeholder {
    color: white;
}

.news-button {
    background-color: #5C7EB0;
    width: 150px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

footer section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer a {
    color: white;
    display: block;
}

footer nav ul {
    text-align: center;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}

footer nav ul li a i {
    font-size: 50px;
}

.copyright {
    text-align: center;
    font-size: 10px;
    margin: 25px 0;
}

.copyright ul li {
    display: inline-block;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .why-mezzanote .learn-more-button{
	margin: 10px 0 0 39%;
    }

    .reasons{
	flex-wrap: wrap;
    }

    .reasons article {
	margin: 15px;
	width: 400px;
	padding: 5px;
    }

    .our-solutions > .learn-more-button {
	margin: 10px 0 0 39.5%;
    }

    .swiper-slide h1 {
	margin-top: 30px;
	font-size: 30px;
    }

    .swiper-slide p {
	font-size: 20px;
    }

    footer nav {
	margin-right: 30px;
    }
    .copyright {
	margin-right: 25px;
    }

}

@media only screen and (min-width: 360px) and (max-width: 759px) {
    header{
	font-size: 8px;
	flex-wrap: wrap;
	padding: 10px 20px 20px 0px; 
    }

    .learn-more-button {
	padding: 5px 45px;
    }

    .second-header > article > h2 {
	font-size: 28px;
    }

    .header-logo {
	width: 350px;
	margin-right: 40px;
    }

    .why-mezzanote .learn-more-button{
	margin: 10px 0 0 27%;
    }

    .reasons{
	flex-wrap: wrap;
    }

    .reasons article {
	margin: 15px;
	width: 400px;
	padding: 5px;
    }

    .our-solutions > .learn-more-button {
	margin: 10px 0 0 27%;
    }
    
    .logo-link {
	width: 70%;
	margin: auto;
	padding: 0 0 0 15px;
    }

    .main-header-logo{
	width: 100%;
    }
    
    .main-nav {
	margin-top: 20px;
	width: 100%;
    }

    .main-nav > ul > li:not(:last-child) {
	margin-right: 2px;
    }

    .swiper {
	width: 100%;
	height: 400px;
    }

    .swiper-slide h1 {
	margin-top: 35px;
	font-size: 25px;
    }

    .swiper-slide p {
	font-size: 14px;
    }

    .swiper-slide h3 {
	font-size: 15px;
    }

    .contact-us {
	padding: 5px 15px;
    }

    .header-logo {
	width: 300px;
	display: inline-block;
	margin-left: 45px;
    }

    .our-solutions {
	margin-left: 9px;
    }


    .solutions article div{
	width: 250px;
	height: 200px;
	margin: 20px auto;
    }

    .solutions p {
	width: 300px
    }

    .who-we-support {
	flex-wrap: wrap;
    }

    .who-we-support article {
	width: 300px;
	margin-top: 10px;
    }

    .contact-us-section {
	height: 180px;
    }

    .contact-us-section h2 {
	font-size: 18px;
    }

    footer {
	font-size: 8px;
	padding: 5px;
    }

    footer nav ul li a i { 
	font-size: 40px;
    }

    footer nav {
	margin-right: 45px;
    }

    .footer-logo img {
	width: 100%;
    }


    .copyright {
	margin-right: 35px;
    }

    input[type=text] {
	padding: 5px 10px;
	width: 95px;
    }

    .news-button {
	width: 90px;
	margin: 10px 0;
	padding: 5px;
	border-radius: 15px;
    }

    .contact-us-section {
	height: 100px;
    }

}

@media screen and (min-width: 1500px) {
    .why-mezzanote .learn-more-button{
	margin: 10px 0 0 44.4%;

    }

    .our-solutions > .learn-more-button {
	margin: 10px 0 0 44.4%;
    }
}

@media screen and (min-width: 1600px) {
    .why-mezzanote .learn-more-button{
	margin: 10px 0 0 45%;

    }

    .our-solutions > .learn-more-button {
	margin: 10px 0 0 45%;
    }
}

@media screen and (min-width: 2000px) {
    .why-mezzanote .learn-more-button{
	margin: 10px 0 0 45.7%;

    }

    .our-solutions > .learn-more-button {
	margin: 10px 0 0 45.7%;
    }
}

@media screen and (min-width: 2100px) {
    .why-mezzanote .learn-more-button{
	margin: 10px 0 0 46.9%;

    }

    .our-solutions > .learn-more-button {
	margin: 10px 0 0 46.9%;
    }
}
